:root{
    --clr-primary:#1c1c1c;
    --clr-gray:#37474f;
    --clr-gray-light:rgb(205, 6, 255);
}
*{
    box-sizing: border-box;
    font-family: "Open Sans","sans-serif";
    margin: 0;
    padding: 0;
}
body{
    color: var(--clr-gray);
    margin: 2rem;
}
.wrapper-gird {
    display: grid;
    grid-template-columns: repeat(auto-fit,40rem);
    justify-content: center;
    grid-gap: 200px 50px;
}
.news {
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: relative;
    margin: 0.5rem;
    
}
.banner-img {
    position: absolute;
    background-image: url(/img/blade-runner-2049-gif-pink-Favim.com-7761650.gif);
    height: 14rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-img2 {
    position: absolute;
    background-image: url(/img/b3a352d0e354188690534f6e18c8b990.gif);
    height: 14rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-img4 {
    position: absolute;
    background-image: url(/img/akira.gif);
    height: 14rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-img3 {
    position: absolute;
    background-image: url(/img/375px-Digital_rain_animation_medium_letters_shine.gif);
    height: 14rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-img{
    
    width: 7.5rem;
    height: 8rem;
  
    clip-path: circle(60px at center ) ;
    margin-top: 8.5rem;
    
    
}
.name {
    margin-top: -1vh;
    font-weight: bold;
    font-size: 1.5rem;
}
.description {
    margin: 1rem  2rem;
    font-size: 0.9rem;
}
.btn {
    display: block;
    text-decoration: none;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color: var(--clr-primary );
}